.artistCard {
    background-color: var(--gray0);
    border-radius: var(--defaultBorderRadius);
    box-shadow: var(--defaultShadow);
    
    height: 92px;
    width: 100%;
    position: relative;
    float: left;
    display: flex;
    color: var(--darkGray);
    padding: 3px 10px;
}

.artistCard:hover {
    cursor: pointer;
    scale: 1.01;
    transition: .2s;
}

.artistCard h1 {
  font-size: 30px;
  font-weight: 400;
}

.artistCard p {
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.artistCard button {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  position: absolute;
  top: 3px;
  right: 3px;

  color: var(--darkGray);
  background-color: var(--orange);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 40px;

  border: none;
}

.artistCard button:hover {
  cursor: pointer;
}

.artistInfos {
  width: 98%;
}