.headerContainer {
  display: flex;
  width: 100%;
  align-items: center;
  min-height: 80px;
  height: 80px;
  box-shadow: var(--defaultShadow);
}

.logoField {
  display: flex;
  flex: 0.15;
  justify-content: space-around;
}

.menuList {
  display: flex;
  flex: 0.85;
  justify-content: space-around;
}

.menuList span {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  color: var(--darkGray);
}
